<% title "Home" %>
<% meta_desc "The personal blog of Nuttapon Pichetpongsa features tips and advice on Software Testing, Travel and many useful things." %>
<!-- +++++ Welcome Section +++++ -->
<div id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <!--<img src="/assets/user.png" alt="Stanley">-->
        <div class="user two">
        </div>
        <h1>Nuttapon Pichetpongsa</h1>
        <p class="description">is a Software Engineer from Bangkok, Thailand. He received my Master's degree in Software Engineering from MDH (Mälardalen University), Sweden. He also had been doing an internship as Software Researcher and Developer for process control department at ABB, Sweden.</p>
        <p class="description">Currently, Nuttapon Pichetpongsa is co-founder of <a href="http://zenstud.io/"> Zensation Studio</a>. And he is working as QA Manager/ Software Engineer in Test Automation at Openface (Thailand).</p>
        <p class="description">Feel free to check out my work or view my resume. I am currently available for hire, so if I sound fit for your next project, don’t hesitate to contact me!</p>

      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /ww -->