<%= render 'intro' %>

<!-- +++++ Information Section +++++ -->

<div class="container pt">
  <div class="row mt centered">
    <div class="col-lg-3">
      <span class="glyphicon glyphicon-book"></span>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="col-lg-3">
      <span class="glyphicon glyphicon-user"></span>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="col-lg-3">
      <span class="glyphicon glyphicon-fire"></span>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="col-lg-3">
      <span class="glyphicon glyphicon-globe"></span>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div><!-- /row -->

  <div class="row mt">
    <div class="col-lg-8">
      <h4>EDUCATION</h4>

      <div class="col-lg-3">
        <p>10/2010 - 02/2013</p>
      </div>

      <div class="col-lg-9">
        <h5>Master of Engineering in Software Engineering</h5>
        <h5>Mälardalen University (MDH), Sweden</h5>
        <p class="description">Software Engineering deals with design and development of high quality software systems and hence an increasingly important area in computer science. In this programme provides extensive knowledge and practical skills in software engineering. My major track, the industrial track, gives an opportunities to work close to the industrial environment. The industrial track also brought me to get the industrial thesis projects, focusing on Industrial System Research & Development.</p>
      </div>

      <div class="col-lg-3">
        <p>05/2004 - 03/2008</p>
      </div>

      <div class="col-lg-9">
        <h5>Bachelor of Science in Information Technology</h5>
        <h5>SIIT, Thammasat University, Thailand</h5>
        <p class="description">I studied several courses related to Object-Oriented Programming and Information Technology, for instance Database Management and Design, and System Administration. I had an opportunity to join an internship programme of AIS (Advance Info Service Company), Thailand, as a Software tester. I was to create the “Online File Storage System”. My project was submitted to NSC#10 (Thailand’s National Software Contest) and allowed me to participate in NSC congress with many universities in Thailand.</p>
      </div>


    </div><!-- /colg-lg-6 -->

    <div class="col-lg-4">
      <h4>THE SKILLS</h4>
      SDLC/ Software Testing Techniques
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
          <span class="sr-only">90% Complete</span>
        </div>
      </div>

      Selenium WebDriver
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
          <span class="sr-only">80% Complete</span>
        </div>
      </div>

      Ruby/ Ruby on Rails
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>

      HTML + CSS
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
          <span class="sr-only">80% Complete</span>
        </div>
      </div>

      JavaScript/ JQuery
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
          <span class="sr-only">65% Complete</span>
        </div>
      </div>

      DBMSs
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>

      Scripting
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
          <span class="sr-only">75% Complete</span>
        </div>
      </div>

      <div class="clearfix">
        <%= link_to "Download Resume", '/cv.pdf', :class => 'btn btn-primary btn-lg', :target => 'blank' %>
      </div>

    </div><!-- /col-lg-6 -->

    <!--<div class="col-lg-8 col-lg-offset-2 centered">-->
      <!--<div class="col-lg-4">-->
        <!--<p>-->

          <!--test-->
        <!--</p>-->

      <!--</div>-->
      <!--<div class="col-lg-8">-->
        <!--<p>-->
          <!--testt2-->
        <!--</p>-->

      <!--</div>-->


    <!--</div>-->

  </div><!-- /row -->
</div><!-- /container -->