<%= render 'intro' %>

<!-- +++++ Projects Section +++++ -->

<div class="container pt">
  <div class="row mt centered">
    <div class="col-lg-4">
      <img class="img-responsive" src="http://res.cloudinary.com/letustest/image/upload/c_scale,h_300,w_400/v1438254941/Photo_29-10-2014_21_33_12_x353cf.jpg" alt="" />
      <p>SOUTH KOREA</p>
    </div>
    <div class="col-lg-4">
      <img class="img-responsive" src="http://res.cloudinary.com/letustest/image/upload/c_scale,w_400/v1431360544/ceos6wwpm7d9qdqes2ff.jpg" alt="" />
      <p>VIETNAM</p>
    </div>
    <div class="col-lg-4">
      <img class="img-responsive" src="http://res.cloudinary.com/letustest/image/upload/c_scale,w_400/v1438254956/Photo_27-10-2014_22_34_33_r0prza.jpg" alt="" />
      <p>SOUTH KOREA</p>
    </div>
  </div><!-- /row -->
  <div class="row mt centered">
    <div class="col-lg-4">
      <img class="img-responsive" src="http://res.cloudinary.com/letustest/image/upload/c_scale,w_400/v1438254956/Photo_09-12-2013_14_06_50_jnfkqj.jpg" alt="" />
      <p>THAILAND</p>
    </div>
    <div class="col-lg-4">
      <img class="img-responsive" src="http://res.cloudinary.com/letustest/image/upload/c_scale,w_400/v1438254949/Photo_27-10-2014_09_53_48_vlqa47.jpg" alt="" />
      <p>SOUTH KOREA</p>
    </div>
    <div class="col-lg-4">
      <img class="img-responsive" src="http://res.cloudinary.com/letustest/image/upload/c_scale,w_400/v1438255256/Photo_10-05-2014_10_48_27_dewxyu.jpg" alt="" />
      <p>JAPAN</p>
    </div>
    <!--<div class="col-lg-4">-->
      <!--<a class="zoom green" href="work01.html"><img class="img-responsive" src="/assets/portfolio/port06.jpg" alt="" /></a>-->
      <!--<p>CHIEFS</p>-->
    <!--</div>-->
  </div><!-- /row -->
</div><!-- /container -->