<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="blog-pagination pull-right">
        <%= paginate @blogs_latest_updated %>
        <%= page_entries_info @blogs_latest_updated %>
      </div>
    </div>
  </div>
</div>