<div class="container pt">
  <div class="col-lg-12">
    <h1>Editing blog</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @blog, :class => "btn btn-primary btn-lg" %> |
    <%= link_to 'Back', blogs_path, :class => "btn btn-warning btn-lg" %>
  </div>
</div>