<div id="footer" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>My Address</h4>
        <p>
          64/19, Tiwanon Rd <br/>
          Talardkawn, Meung <br/>
          Nonthaburi, 11000, Thailand.
        </p>
        <p>
          Mobile: +66(81)988-2642
        </p>
      </div><!-- /col-lg-4 -->

      <div class="col-lg-4">
        <h4>My Links</h4>
        <p>
          <a href="https://twitter.com/emperol2">Twitter</a><br/>
          <a href="https://www.facebook.com/npichetpongsa">Facebook</a><br/>
          <a href="https://www.linkedin.com/in/nuttaponp">LinkedIn</a><br/>
          <a href="mailto:n.pichetpongsa@gmail.com">n.pichetpongsa@gmail.com</a>
        </p>
      </div><!-- /col-lg-4 -->

      <div class="col-lg-4">
        <h4>About Nuttapon P.</h4>
        <p>I’m a social person. Or at least that’s what I keep telling myself. Either way, you can find me at the following places.</p>
      </div><!-- /col-lg-4 -->

    </div>

  </div>
</div>